<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>
<body>
    <main>
        <div id="">
            <div>Your selected product is</div>
            <div><%= data.message%></div>
        </div>
    </main>
</body>
</html>