<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
</head>
<body>
    <main>
        <form action="/setNewPassword" method="post">
            <div>
                <label>Your new password</label>
                <input name="newPassword"/>
                <input type="hidden" value="<%= username %>" name="username">
                <button type="submit">Update your password now</button>
            </div>
        </form>
    </main>
</body>
</html>