<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><% title %></title>
</head>
<body>
    <main>
        <form action="/resetpassword" method="post">
            <div>
                <label>Enter you username here</label>
                <input name="forgotpwd"/>
            </div>
        </form>
    </main>
</body>
</html>