<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
</head>
<body>
    <form action="/login" method="post">
        <div>
            <label for="username"> Username</label>
            <input name="username"/>
        </div>
        <div>
            <label for="password"> Password</label>
        <input name="password">
        </div>
        <div>
            <a href="/resetpassword">Click here to reset password</a>
        </div>
        <button type="submit">Login now</button>
    </form>
</body>
</html>